<div class="container">
    <h1 class="display-2">
        Welcome to GeeGaw!
    </h1>
</div>

<div class="container shadow p-3 mb-5 bg-white rounded">
    <div class="row">
        <div class="col">
            <h3 class="display-4">Log In</h3>
            <form (submit)="login()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" [(ngModel)]="user.username" name="username" #name="ngModel">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" [(ngModel)]="user.password" #name="ngModel" name="username">
                </div>
                <input type="submit" class="btn btn-primary" value="Login">
            </form>
            <br>
            <button type="button" class="btn btn-outline-info btn-sm" (click)="openModal(registration)">New user?</button>
        </div>
    </div>

    <!-- <ng-template #registration> 
        <div class="modal-header align-content-center">
            <h4 class="modal-title display-4 justify-content-center">Register</h4>
        </div> -->
        <div class="modal-body">
            <form (submit)="register()">
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" id="first_name">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" id="last_name">
                </div>
                <div class="form-group">
                    <label for="newUsername">Username</label>
                    <input type="text" class="form-control" id="newUsername">
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="newPassword">Password</label>
                    <input type="password" class="form-control" id="newPassword">
                </div>
                <div class="form-group">
                    <label for="confirm">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm">
                </div>
                <input type="submit" class="btn btn-primary" value="Register">
            </form>
        </div>
    <!-- </ng-template> -->
</div>