<div class="container">
    <h1 class="display-2">
        Welcome to GeeGaw!
    </h1>
</div>

<div class="container shadow p-3 mb-5 bg-white rounded">
    <div class="row">
        <div class="col">
            <h3 class="display-4">Log In</h3>
            <form (submit)="login()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password">
                </div>
                <input type="submit" class="btn btn-primary" value="Login">
            </form>
            <br>
            <button type="button" class="btn btn-outline-info btn-sm" (click)="openModal(registration)">Not a member? Register Here. </button>
        </div>
    </div>

    <ng-template #registration>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Register</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>name</p>
            <p>username</p>
            <p>email</p>
            <p>password</p>
            <p>confirm password</p>
        </div>
    </ng-template>

</div>