<div class="container shadow">
  <h3>All users [need to add search bar]</h3>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <h5>{{currentUser.username}}</h5>
      <p>{{currentUser.firstname}} {{currentUser.lastname}}</p>
      <p class="text-secondary"> You </p>
    </li>
    <li class="list-group-item" *ngFor="let u of userArr">
      <h5>{{u.username}}</h5>
      <p>{{u.firstname}} {{u.lastname}}</p>
      <button *ngIf="u.followers.length==0; else elseBlock" class="btn btn-info" (click)="follow(u._id)">Follow</button>
      <ng-template #elseBlock>
        <button *ngIf="u.followers == true;" class="btn btn-outline-secondary" disabled>Following</button>
        <button *ngIf="u.followers == false;" class="btn btn-info" (click)="follow(u._id)">Follow</button>
      </ng-template>
    </li>
  </ul>
</div>
<app-footer></app-footer>