<div class="container shadow">
  <!-- temporary div to keep track of what we need to do, will delete before production, or move to developer to do list page once dashboard is working properly. -->
  <div class="temp" style="border:red dashed 1px;">
    <h2>Developer To Do List:</h2>
    <ul class="list-group">
      <li class="list-group-item">
        <input type="checkbox" name="first">
        <label for="first"> grab all posts of following and self</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox" name="todo" checked>
        <label for="second"> fix showAll:Search page to hide follow link if already following</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox" name="third">
        <label for="third"> Upload images to DB through Create page</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox" name="fourth" checked>
        <label for="fourth"> add email check to registration in controller</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox" name="fifth" checked>
        <label for="fifth"> clean up follow route(search page), change from get route with params to function path</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox" name="sixth">
        <label for="sixth"> clean up getAll route(search page), behaviorsubjects are not being used</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox" name="seventh">
        <label for="seventh"> add search bar</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox" name="eighth">
        <label for="eighth">force rerender after follow on search page, or redirect to that user's page</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox" name="ninth">
        <label for="ninth">add unfollow option on search page on hover</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox" name="tenth">
        <label for="tenth">add bcyrpt to password after everything else is done (to make it easier on us for testing purposes)</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox" name="eleventh">
        <label for="eleventh">add pattern validation to registration for email and first-letter-capitals for name</label>
      </li>
      
      <h3>Pages/Components</h3>
      <li class="list-group-item">
        <input type="checkbox" name="likes">
        <label for="likes">creates likes page</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox" name="profile">
        <label for="profile">create user profile page</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox" name="settings">
        <label for="settings">create settings page</label>
      </li>
    </ul>
  </div>

  <!-- <ul *ngFor="let post of allPosts" class="listgroup">
    <li>
      <p class="list-group-item">{{post.caption}}</p>
    </li>
  </ul> -->
</div>
<app-footer></app-footer>